.scrollbar {
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 20px;

    &__wrapper {
        height: 100%;
        width: 100%;

        .ScrollbarsCustom-Scroller {
            padding: 0 !important;
            margin: 0 !important;
        }

        .ScrollbarsCustom-Scroller::-webkit-scrollbar-thumb {
            width: 0;
            height: 0;
        }

        .ScrollbarsCustom-Scroller::-webkit-scrollbar-track {
            width: 0;
            height: 0;
        }

        .ScrollbarsCustom-Scroller::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__track {
        position: absolute;
        overflow: hidden;
        border-radius: 4px;
        user-select: none;
        inset-inline-end: 0;

        &_direction {
            &_y {
                height: 100%;
                top: 0;
                width: var(--guit-sem-dimension-width-4xsmall);
            }

            &_x {
                width: 100%;
                bottom: 0;
                height: var(--guit-sem-dimension-height-4xsmall);
            }
        }
    }

    &__thumb {
        position: absolute;
        overflow: hidden;
        background: var(--guit-sem-color-background-transparent-2);
        user-select: none;
        transition: background-color 10ms ease-in-out;
        border-radius: var(--guit-ref-radius-3xsmall);

        &_direction {
            &_y {
                height: 100%;
                top: 0;
                width: var(--guit-sem-dimension-width-4xsmall);
                inset-inline-end: 0;
            }

            &_x {
                width: 100%;
                bottom: 0;
                left: 0;
                height: var(--guit-sem-dimension-height-4xsmall);
            }
        }
    }
}
