.dataTable {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
    max-width: 100%;
    will-change: transform;

    &__table {
        display: table;
        width: 100%;
        table-layout: auto;
        border-collapse: separate;
        isolation: isolate;
    }

    &__noDataToDisplay {
        height: 100%;
    }
}
