.dataTable {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
    max-width: 100%;

    &__table {
        display: table;
        width: 100%;
        table-layout: auto;
        border-collapse: separate;
        isolation: isolate;
    }
}
