@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');

.sidebar-subheading {
    border-top: 1px solid #e6e6e6;
    padding-top: 10px !important;
}
.dark .sidebar-subheading {
    border-color: #404040;
}

.sidebar-item {
    height: 36px;
    display: flex !important;
    align-items: center !important;
}
.sidebar-item > span {
    margin-top: -1px;
}
.sidebar-item > svg {
    margin-top: -1px;
}

button[data-action='collapse-root'] {
    display: flex;
    align-items: center;
}

.sidebarLabel {
    display: flex;
}

.sidebarLabel__name {
    margin-right: 8px;
}

.sidebarLabel__icon {
    max-height: 16px;
}

/*******************************************/
/*addons icons change and display none*/
/******************************************/
[title='Vision simulator'],
[title='Enable measure'],
[title='Apply outlines to the preview'] {
    display: none !important;
}

[title='Change the size of the preview'] > svg,
[title='Rotate viewport'] > svg {
    display: none;
}

[title='Change the size of the preview']:after {
    content: '';
    background: url('../../assets/tablet-telephone.svg') center center/cover;
    height: 14px;
    width: 14px;
    margin-left: 4px;
}

[title='Rotate viewport']:after {
    content: '';
    background: url('../../assets/screen-rotation-icon.svg') center center/cover;
    height: 16px;
    width: 16px;
}
