@use "../../../assets/styles/mixins";

.pagination {
    $this: &;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--guit-ref-spacing-large);
    background-color: var(--guit-sem-color-background-neutral-1);
    padding: var(--guit-ref-spacing-large);
    border-top: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
        var(--guit-sem-color-border-neutral-2);

    &__perpage {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--guit-ref-spacing-large);

        &_values {
            display: flex;
            align-items: center;
            gap: var(--guit-ref-spacing-2xsmall);
            color: var(--guit-sem-color-foreground-neutral-2);
            font-family: var(--guit-sem-font-label-medium-default-semibold-font-family), sans-serif;
            font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
            font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
            line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);

            & > span {
                white-space: nowrap;
            }

            &_disabled {
                color: var(--guit-sem-color-foreground-disabled);
            }
        }
    }

    &__nav {
        $that: &;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--guit-ref-spacing-2xlarge);
        width: 100%;

        &_specific {
            display: flex;
            align-items: center;
            gap: var(--guit-ref-spacing-xsmall);
            color: var(--guit-sem-color-foreground-neutral-2);
            font-family: var(--guit-sem-font-label-medium-default-semibold-font-family), sans-serif;
            font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
            font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
            line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);

            & > span {
                white-space: nowrap;
            }

            &_disabled {
                color: var(--guit-sem-color-foreground-disabled);
            }
        }

        &_list {
            display: flex;
            align-items: center;
            gap: var(--guit-ref-spacing-xsmall);
            margin-inline-start: auto;
        }

        &_item {
            height: var(--guit-sem-dimension-height-medium);
            min-width: var(--guit-sem-dimension-width-medium);
            border-radius: var(--guit-ref-radius-3xsmall);
            padding-block: var(--guit-ref-spacing-2xsmall);
            padding-inline: var(--guit-ref-spacing-medium);
            background-color: var(--guit-sem-color-background-transparent-1);

            @include mixins.media-hover {
                &:hover {
                    background-color: var(--guit-sem-color-background-transparent-1-hover);
                }
            }

            &:active {
                background-color: var(--guit-sem-color-background-transparent-1-pressed);
            }

            &:disabled {
                pointer-events: none;

                #{ $that }_value {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }

            &_selected {
                background-color: var(--guit-sem-color-background-selected-2);
                pointer-events: none;

                #{ $that }_value {
                    color: var(--guit-sem-color-foreground-inverse);
                }

                &_disabled {
                    background-color: var(--guit-sem-color-background-disabled);

                    #{ $that }_value {
                        color: var(--guit-sem-color-foreground-disabled);
                    }
                }
            }

            &:not(#{ $that }_item_selected),
            &:not(#{ $that }_item:disabled) {
                color: var(--guit-sem-color-foreground-neutral-2);
            }
        }

        &_button {
            $that: &;

            display: inline-flex;
            justify-content: center;
            align-items: center;
            min-width: max-content;
            cursor: pointer;
            user-select: none;
            border-width: var(--guit-ref-border-width-thin);
            border-style: var(--guit-ref-border-style-solid);
            border-color: var(--guit-ref-color-transparent-neutral-0-0);
            background-color: var(--guit-sem-color-background-transparent-1);
            color: var(--guit-sem-color-foreground-neutral-2);
            gap: var(--guit-ref-spacing-xsmall);
            height: var(--guit-sem-dimension-height-medium);
            border-radius: var(--guit-ref-radius-3xsmall);
            width: var(--guit-sem-dimension-width-medium);
            padding-inline-start: var(--guit-ref-spacing-medium);
            padding-inline-end: var(--guit-ref-spacing-medium);

            @include mixins.media-hover {
                &:hover {
                    background-color: var(--guit-sem-color-background-transparent-1-hover);
                }
            }

            &:active {
                background-color: var(--guit-sem-color-background-transparent-1-pressed);
            }

            &:not(#{ $that }_icon_only) {
                padding-top: var(--guit-ref-spacing-2xsmall);
                padding-bottom: var(--guit-ref-spacing-2xsmall);
            }
        }

        &_value {
            font-family: var(--guit-sem-font-label-medium-default-semibold-font-family), sans-serif;
            font-weight: var(--guit-sem-font-label-medium-default-semibold-font-weight);
            font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
            line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
        }
    }

    &__specific {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--guit-ref-spacing-2xlarge);
    }

    &__input {
        width: 6.4rem;
    }
}
