.colorPicker {
    width: fit-content;

    &__textField {
        max-width: 16rem;
    }

    &__alphaField {
        max-width: 6rem;
    }

    &__fieldsWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--guit-ref-spacing-2xsmall);
    }

    &__inputs {
        display: flex;
        gap: var(--guit-ref-spacing-2xsmall);
        width: 100%;
    }

    &__rgbInputs {
        display: flex;
        gap: var(--guit-ref-spacing-2xsmall);
        width: 100%;
    }

    &__recents {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: var(--guit-ref-spacing-xsmall);
        width: 100%;
        padding-inline: var(--guit-ref-spacing-3xsmall);
    }

    &__recentColor {
        width: var(--guit-sem-dimension-width-medium-nudge);
        height: var(--guit-sem-dimension-height-medium-nudge);
        border: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid) var(--guit-sem-color-border-neutral-2);
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__wrapper {
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        gap: var(--guit-ref-spacing-medium);
        width: 28.8rem;
        padding: var(--guit-ref-spacing-large);
    }
}