.colorPicker {
    &__inputs {
        display: flex;
        gap: 6px;
    }

    &__rgbInputs {
        display: flex;
        gap: 6px;
    }

    &__rgbaPicker {
        &__pointer {
            background-color: red;
        }
    }

    &__recents {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &__color {
            width: 28px;
            height: 28px;
            border-radius: 4px;
        }
    }
}
