.colorPicker {
    display: flex;
    flex-direction: column;
    gap: var(--guit-ref-spacing-2xsmall);
    width: 100%;

    &__textField {
        max-width: 16rem;
    }

    &__alphaField {
        max-width: 6rem;
    }
}
