# This file is define code owners of the repository, more details about the GitHub feature here https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @hamikhambardzumyan @GaroGabrielyan @AregSoft @NairaMisakyan @NarekArshakyan
