.globalHeader {
    background-color: var(--guit-sem-color-background-neutral-5);
    display: flex;
    padding: var(--guit-ref-spacing-medium) var(--guit-ref-spacing-large);
    justify-content: space-between;
    color-scheme: light;

    &_side {
        &_left {
            display: flex;
            gap: var(--guit-ref-spacing-large);
            align-items: center;
        }

        &_right {
            display: flex;
            align-items: center;
            gap: var(--guit-ref-spacing-xsmall);
        }
    }

    &__logo {
        &_link {
            border-radius: 0.4rem;
            text-decoration: none;
        }
    }

    &__text {
        color: var(--guit-sem-color-foreground-inverse);
    }

    &__divider {
        height: var(--guit-sem-dimension-height-small-nudge);
    }

    &__partners,
    &__time,
    &__limit {
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-xsmall);
        color: var(--guit-sem-color-foreground-inverse-notheme);
    }

    &__timeWrapper {
        display: flex;
        align-items: center;
    }

    &__limitWrapper {
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-2xsmall);
    }

    &__timeDigits {
        width: 5.8rem;
    }
}
