.loader {
    $this: &;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &_direction {
        &_below {
            flex-direction: column;
            text-align: center;
        }
    }

    &_size {
        &_2xLarge,
        &_xLarge {
            font-family: var(--guit-sem-font-label-large-default-medium-font-family);
            font-size: var(--guit-sem-font-label-large-default-semibold-font-size);
            font-weight: var(--guit-sem-font-label-large-default-medium-font-weight);
            line-height: var(--guit-sem-font-label-large-default-semibold-line-height);
        }

        &_large,
        &_medium,
        &_small,
        &_smallNudge {
            font-family: var(--guit-sem-font-label-medium-default-semibold-font-family);
            font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
            font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
            line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
        }

        &_small,
        &_smallNudge {
            gap: var(--guit-ref-spacing-xsmall);
        }

        &_2xLarge {
            gap: var(--guit-ref-spacing-2xlarge);

            #{ $this }__spinnerWrapper {
                width: var(--guit-sem-dimension-width-2xlarge);
                height: var(--guit-sem-dimension-height-2xlarge);
            }
        }

        &_xLarge {
            gap: var(--guit-ref-spacing-xlarge);

            #{ $this }__spinnerWrapper {
                width: var(--guit-sem-dimension-width-xlarge);
                height: var(--guit-sem-dimension-height-xlarge);
            }
        }

        &_large {
            gap: var(--guit-ref-spacing-large);

            #{ $this }__spinnerWrapper {
                width: var(--guit-sem-dimension-width-large);
                height: var(--guit-sem-dimension-height-large);
            }
        }

        &_medium {
            gap: var(--guit-ref-spacing-medium);

            #{ $this }__spinnerWrapper {
                width: var(--guit-sem-dimension-width-medium);
                height: var(--guit-sem-dimension-height-medium);
            }
        }

        &_small {
            #{ $this }__spinnerWrapper {
                width: var(--guit-sem-dimension-width-small);
                height: var(--guit-sem-dimension-height-small);
            }
        }

        &_smallNudge {
            #{ $this }__spinnerWrapper {
                width: var(--guit-sem-dimension-width-small-nudge);
                height: var(--guit-sem-dimension-height-small-nudge);
            }
        }
    }

    &_color {
        &_brand,
        &_neutral {
            #{ $this }__text {
                color: var(--guit-sem-color-foreground-neutral-1);
            }
        }

        &_brand {
            #{ $this }__spinnerPath {
                stroke: var(--guit-sem-color-foreground-brand);
            }
        }

        &_neutral {
            #{ $this }__spinnerPath {
                stroke: var(--guit-sem-color-foreground-neutral-2);
            }
        }

        &_inverse {
            #{ $this }__spinnerPath {
                stroke: var(--guit-sem-color-foreground-inverse);
            }

            #{ $this }__text {
                color: var(--guit-sem-color-foreground-inverse);
            }
        }
    }

    &__spinnerWrapper {
        flex: 0 0 auto;
        padding: var(--guit-ref-spacing-4xsmall);
    }

    &__spinner {
        width: 100%;
        height: 100%;
        animation: loader-rotate 2s linear infinite;
    }

    &__spinnerPath {
        stroke-linecap: round;
        animation: loader-dash 1.5s ease-in-out infinite;
        transform: translate3d(0, 0, 0);
    }

    &__text {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-transform: capitalize;
    }
}

@keyframes loader-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -136;
    }
}
