.colorIndicator {
    &_size {
        &_small {
            width: 20px;
            height: 20px;
        }

        &_medium {
            width: 20px;
            height: 20px;
        }

        &_large {
            width: 24px;
            height: 24px;
        }
    }
}