.tableBodyCell {
    height: 4.4rem;
    padding-block: var(--guit-ref-spacing-medium);
    padding-inline: var(--guit-ref-spacing-large);
    vertical-align: middle;
    position: relative;
    box-shadow: inset 0 -0.1rem 0 0 var(--guit-sem-color-border-neutral-1);
    max-width: 25rem;

    &::after {
        content: "";
        position: absolute;
        inset-inline-end: 0;
        top: 0;
        bottom: 0;
        width: 0.1rem;
        background: var(--guit-sem-color-border-neutral-2);
    }

    &__content {
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-3xsmall);
    }

    &__text {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: var(--guit-sem-color-foreground-neutral-2);
    }

    &_expander {
        padding: 0;
        padding-inline: var(--guit-ref-spacing-small);
    }

    &_active,
    &:hover {
        .tableRow__actionsWrapper {
            opacity: 1;
        }
    }

    &_pinned {
        position: sticky;
        z-index: 1;
        background-color: inherit;
        inset-inline-start: 0;

        &::after {
            background: var(--guit-sem-color-border-neutral-3);
        }
    }
}
