.fileUploadList {
    $this: &;

    display: inline-flex;
    flex-direction: column;
    row-gap: var(--guit-ref-spacing-xsmall);
    width: 100%;

    &__row {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        width: 100%;
        min-height: 3.2rem;

        &.image {
            #{ $this }__file {
                background-color: var(--guit-sem-color-background-accent-purple-1);
            }

            #{ $this }__fileIcon {
                color: var(--guit-sem-color-foreground-accent-purple);
            }
        }

        &.video {
            #{ $this }__file {
                background-color: var(--guit-sem-color-background-accent-orange-1);
            }

            #{ $this }__fileIcon {
                color: var(--guit-sem-color-foreground-accent-orange-2);
            }
        }

        &.audio {
            #{ $this }__file {
                background-color: var(--guit-sem-color-background-accent-lagoon-1);
            }

            #{ $this }__fileIcon {
                color: var(--guit-sem-color-foreground-accent-green);
            }
        }

        &.document {
            #{ $this }__file {
                background-color: var(--guit-sem-color-background-accent-magenta-1);
            }

            #{ $this }__fileIcon {
                color: var(--guit-sem-color-foreground-accent-magenta);
            }
        }

        &.media {
            #{ $this }__file {
                background-color: var(--guit-sem-color-background-accent-purple-1);
            }

            #{ $this }__fileIcon {
                color: var(--guit-sem-color-foreground-accent-purple);
            }
        }
    }

    &__item {
        min-width: 0;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: var(--guit-ref-spacing-xsmall);
        padding-block: var(--guit-ref-spacing-3xsmall);
        padding-inline: var(--guit-ref-spacing-medium);

        &:first-child {
            padding-inline-start: 0;
        }

        &:last-child {
            padding-inline-end: 0;
            flex: 0 0 auto;
            justify-content: flex-end;
        }

        &--withProgress {
            padding-block: 0;
        }

        &--progress {
            grid-column: 1 / -1;
            padding-inline: 0;
            padding-block: 0;
            margin-block-start: calc(-1 * var(--guit-ref-spacing-3xsmall) * 2);
            width: 100%;
        }

        &--actionsLoading {
            align-items: flex-start;
        }
    }

    &__file {
        width: 2.4rem;
        height: 2.4rem;
        padding: var(--guit-ref-spacing-3xsmall);
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__progress {
        width: 100%;
        display: block;
        gap: 0;

        .progressBar {
            gap: 0;
        }

        .progressBar__info {
            gap: 0;
            margin-block-start: 0;
        }
    }
}
