.actionableListItem {
    --actionable-list-drop-gap: 40px;

    position: relative;
    width: 100%;
    min-height: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: var(--guit-ref-spacing-2xsmall);
    padding: var(--guit-ref-spacing-xsmall) var(--guit-ref-spacing-medium);
    border: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid) var(--guit-sem-color-border-neutral-2);
    border-radius: var(--guit-ref-radius-3xsmall);
    background: var(--guit-sem-color-background-neutral-1);
    margin-top: var(--guit-ref-spacing-medium);

    &_nested {
        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: -1.6rem;
            width: 1.6rem;
            border-top: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
                var(--guit-sem-color-border-neutral-2);
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 50%;
            left: -1.6rem;
            height: calc(100% + 10rem);
            width: 1px;
            border-right: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
                var(--guit-sem-color-border-neutral-2);
        }
    }

    &_dragging {
        display: none;
    }

    &_dropGapTop {
        margin-top: calc(var(--guit-ref-spacing-medium) + var(--actionable-list-drop-gap));
    }

    &_dropGapBottom {
        margin-bottom: var(--actionable-list-drop-gap);
    }

    &_dragPreview {
        display: flex;
        box-shadow: var(--guit-ref-elevation-small);
        background: var(--guit-sem-color-background-neutral-1);
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__toggle {
        flex-shrink: 0;

        &_placeholder {
            width: 24px;
            height: 24px;
        }
    }

    &__checkbox {
        margin-right: 0;
    }

    &__titleWrap {
        flex: 1;
        min-width: 0;
    }

    &__title {
        display: block;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        color: var(--guit-sem-color-text-default);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__meta {
        color: var(--guit-sem-color-text-subtle);
        white-space: nowrap;
    }

    &__info {
        flex-shrink: 0;
    }

    &__dragIcon {
        flex-shrink: 0;
        color: var(--guit-sem-color-icon-subtle);
        cursor: grab;
        margin-left: var(--guit-ref-spacing-2xsmall);

        &_dragging {
            cursor: grabbing;
        }
    }

    &__dragHandle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: grab;
    }
}
