.steps {
    $this: &;

    display: flex;

    &_direction {
        // horizontal direction styles
        &_horizontal {
            flex-direction: row;

            #{ $this }__step {
                grid-template-rows: 2.4rem 1fr;
            }
            #{ $this }__status {
                flex-direction: row;
            }
            #{ $this }__content {
                padding-inline-end: var(--guit-ref-spacing-medium);

                // todo: can be added dynamic "max-width" value
                max-width: 20rem;
            }
        }

        // vertical direction styles
        &_vertical {
            flex-direction: column;

            #{ $this }__step {
                grid-template-columns: 2.4rem 1fr;
            }
            #{ $this }__status {
                flex-direction: column;
            }
        }
    }

    // styles for linear and non-linear cases
    &_linear {
        #{ $this }__label {
            pointer-events: none;

            &:focus-visible {
                outline: none;
            }
        }
    }

    &:not(#{ $this }_linear) {
        #{ $this }__label {
            &:hover {
                background-color: var(--guit-sem-color-background-neutral-1-hover);
            }

            &:active {
                background-color: var(--guit-sem-color-background-neutral-1-pressed);
            }
        }
    }

    // main styles

    &__step {
        $that: &;

        display: inline-grid;
        grid-gap: var(--guit-ref-spacing-xsmall);
        min-width: var(--guit-sem-dimension-width-3xlarge);
        min-height: var(--guit-sem-dimension-height-3xlarge);

        &:not(:last-child) {
            flex: 1;
        }

        &:last-child {
            #{ $this }__status_divider {
                display: none;
            }
        }

        &#{ $that }_disabled {
            #{ $this }__label,
            #{ $this }__description,
            #{ $this }__status_icon {
                color: var(--guit-sem-color-foreground-disabled);
            }
        }

        #{ $this }__label[disabled] {
            pointer-events: none;

            &:focus-visible {
                outline: none;
            }
        }

        &:not(#{ $that }_disabled) {
            #{ $this }__label,
            #{ $this }__description {
                color: var(--guit-sem-color-foreground-neutral-2);
            }

            &:not(#{ $this }__step_current, #{ $this }__step_success, #{ $this }__step_error) {
                #{ $this }__status_icon {
                    color: var(--guit-sem-color-foreground-neutral-1);
                }
            }

            &#{ $that }_current,
            &#{ $that }_success {
                #{ $this }__status_icon {
                    color: var(--guit-sem-color-foreground-selected);
                }
            }

            &#{ $that }_error {
                #{ $this }__status_icon {
                    color: var(--guit-sem-color-foreground-error);
                }
            }
        }
    }

    &__status,
    &__content {
        max-width: 100%;
    }

    &__status {
        display: flex;

        &_icon {
            flex: 0 0 auto;
        }

        &_divider {
            flex: 1;
        }

        &_numeric {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            margin: 0.2rem;
            font-family: var(--guit-sem-font-body-medium-default-semibold-font-family), sans-serif;
            font-weight: var(--guit-sem-font-body-medium-default-semibold-font-weight);
            font-size: var(--guit-sem-font-body-medium-default-semibold-font-size);
            line-height: var(--guit-sem-font-body-medium-default-semibold-line-height);
            border-radius: var(--guit-ref-radius-full);
            border-width: var(--guit-ref-border-width-thin);
            border-style: var(--guit-ref-border-style-solid);
        }

        &_dot {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            margin: 0.2rem;

            &_empty {
                font-family: var(--guit-sem-font-body-medium-default-semibold-font-family), sans-serif;
                font-weight: var(--guit-sem-font-body-medium-default-semibold-font-weight);
                font-size: var(--guit-sem-font-body-medium-default-semibold-font-size);
                line-height: var(--guit-sem-font-body-medium-default-semibold-line-height);
                border-radius: var(--guit-ref-radius-full);
                border-width: var(--guit-ref-border-width-thin);
                border-style: var(--guit-ref-border-style-dashed);
            }

            &_current {
                font-family: var(--guit-sem-font-body-medium-default-semibold-font-family), sans-serif;
                font-weight: var(--guit-sem-font-body-medium-default-semibold-font-weight);
                font-size: var(--guit-sem-font-body-medium-default-semibold-font-size);
                line-height: var(--guit-sem-font-body-medium-default-semibold-line-height);
                border-radius: var(--guit-ref-radius-full);
                border-width: var(--guit-ref-border-width-thin);
                border-style: var(--guit-ref-border-style-dashed);
                background: linear-gradient(to right, var(--guit-sem-color-foreground-selected) 50%, transparent 50%);
                background-clip: padding-box;
            }
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__label,
    &__description {
        padding-block: var(--guit-ref-spacing-4xsmall);
        padding-inline: var(--guit-ref-spacing-3xsmall);
        word-break: break-word;
        text-align: left;
    }

    &__label {
        font-family: var(--guit-sem-font-label-medium-default-semibold-font-family), sans-serif;
        font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
        font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
        line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__description {
        font-family: var(--guit-sem-font-body-medium-default-regular-font-family), sans-serif;
        font-weight: var(--guit-sem-font-body-medium-default-regular-font-weight);
        font-size: var(--guit-sem-font-body-medium-default-regular-font-size);
        line-height: var(--guit-sem-font-body-medium-default-regular-line-height);
    }
}
