.steps {
    $this: &;

    &_direction {
        // horizontal direction styles
        &_horizontal {
            #{ $this }__wrapper {
                flex-direction: row;
                margin-bottom: var(--guit-ref-spacing-large);
            }
            #{ $this }__step {
                grid-template-rows: 2.4rem 1fr;
            }
            #{ $this }__status {
                flex-direction: row;
            }
            #{ $this }__content {
                padding-inline-end: var(--guit-ref-spacing-medium);
            }
        }

        // vertical direction styles
        &_vertical {
            display: inline-block;

            #{ $this }__wrapper {
                flex-direction: column;
            }
            #{ $this }__step {
                grid-template-columns: 2.4rem 1fr;
            }
            #{ $this }__status {
                flex-direction: column;
            }
            #{ $this }__swap {
                align-self: stretch;
                margin-block: var(--guit-ref-spacing-large);
                margin-inline: var(--guit-ref-spacing-3xsmall);
            }
        }
    }

    // styles for linear and non-linear cases
    &_linear {
        #{ $this }__label {
            pointer-events: none;

            &:focus-visible {
                outline: none;
            }
        }
    }

    &:not(#{ $this }_linear) {
        #{ $this }__label {
            &:hover {
                background-color: var(--guit-sem-color-background-neutral-1-hover);
            }

            &:active {
                background-color: var(--guit-sem-color-background-neutral-1-pressed);
            }
        }
    }

    // main styles
    &__wrapper {
        display: flex;
    }

    &__step {
        $that: &;

        display: inline-grid;
        flex: 1;
        grid-gap: var(--guit-ref-spacing-xsmall);
        min-width: var(--guit-sem-dimension-width-3xlarge);
        min-height: var(--guit-sem-dimension-height-3xlarge);

        &#{ $that }_disabled {
            #{ $this }__label,
            #{ $this }__description,
            #{ $this }__status_icon {
                color: var(--guit-sem-color-foreground-disabled);
            }

            #{ $this }__label {
                pointer-events: none;

                &:focus-visible {
                    outline: none;
                }
            }
        }

        &:not(#{ $that }_disabled) {
            #{ $this }__label,
            #{ $this }__description {
                color: var(--guit-sem-color-foreground-neutral-2);
            }

            &:not(#{ $this }__step_current, #{ $this }__step_success, #{ $this }__step_error) {
                #{ $this }__status_icon {
                    color: var(--guit-sem-color-foreground-neutral-1);
                }
            }

            &#{ $that }_current,
            &#{ $that }_success {
                #{ $this }__status_icon {
                    color: var(--guit-sem-color-foreground-selected);
                }
            }

            &#{ $that }_error {
                #{ $this }__status_icon {
                    color: var(--guit-sem-color-foreground-error);
                }
            }
        }

        &:last-child {
            #{ $this }__status_divider {
                display: none;
            }
        }
    }

    &__status,
    &__content {
        max-width: 100%;
        overflow: hidden;
    }

    &__status {
        display: flex;

        &_icon {
            flex: 0 0 auto;
        }

        &_divider {
            flex: 1;
        }

        &_numeric {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            margin: 0.2rem;
            font-family: var(--guit-sem-font-body-medium-default-semibold-font-family), sans-serif;
            font-weight: var(--guit-sem-font-body-medium-default-semibold-font-weight);
            font-size: var(--guit-sem-font-body-medium-default-semibold-font-size);
            line-height: var(--guit-sem-font-body-medium-default-semibold-line-height);
            border-radius: var(--guit-ref-radius-full);
            border-width: var(--guit-ref-border-width-thin);
            border-style: var(--guit-ref-border-style-solid);
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__label,
    &__description {
        padding-block: var(--guit-ref-spacing-4xsmall);
        padding-inline: var(--guit-ref-spacing-3xsmall);
        word-break: break-word;
    }

    &__label {
        font-family: var(--guit-sem-font-label-medium-default-semibold-font-family), sans-serif;
        font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
        font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
        line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__description {
        font-family: var(--guit-sem-font-body-medium-default-regular-font-family), sans-serif;
        font-weight: var(--guit-sem-font-body-medium-default-regular-font-weight);
        font-size: var(--guit-sem-font-body-medium-default-regular-font-size);
        line-height: var(--guit-sem-font-body-medium-default-regular-line-height);
    }

    &__swap {
        height: 2.4rem;

        // todo: remove those styles after inserting 'swap' component
        background: #f4e1ec;
        border: 0.1rem solid #a60063;
    }
}
