.steps {
    $this: &;

    display: flex;

    &_direction {
        &_horizontal {
            flex-direction: row;

            #{ $this }__item {
                grid-template-rows: 2.4rem 1fr;
            }
            #{ $this }__indicator {
                flex-direction: row;
            }
            #{ $this }__content {
                padding-inline-end: var(--guit-ref-spacing-medium);

                // todo: can be added dynamic "max-width" value
                max-width: 20rem;
            }
        }

        &_vertical {
            flex-direction: column;

            #{ $this }__item {
                grid-template-columns: 2.4rem 1fr;
            }
            #{ $this }__indicator {
                flex-direction: column;
            }
        }
    }

    &_linear {
        #{ $this }__label,
        #{ $this }__button {
            pointer-events: none;

            &:focus-visible {
                outline: none;
            }
        }
    }

    &:not(#{ $this }_linear) {
        #{ $this }__label,
        #{ $this }__button {
            &:hover {
                background-color: var(--guit-sem-color-background-neutral-1-hover);
            }

            &:active {
                background-color: var(--guit-sem-color-background-neutral-1-pressed);
            }
        }
    }

    &__item {
        $that: &;

        display: inline-grid;
        grid-gap: var(--guit-ref-spacing-xsmall);
        min-width: var(--guit-sem-dimension-width-3xlarge);
        min-height: var(--guit-sem-dimension-height-3xlarge);

        &:not(:last-child) {
            flex: 1;
        }

        &:last-child {
            #{ $this }__divider {
                display: none;
            }
        }

        &#{ $that }_state_disabled {
            #{ $this }__label,
            #{ $this }__description,
            #{ $this }__button,
            #{ $this }__icon {
                color: var(--guit-sem-color-foreground-disabled);
            }
        }

        #{ $this }__label[disabled],
        #{ $this }__button[disabled] {
            pointer-events: none;

            &:focus-visible {
                outline: none;
            }
        }

        &:not(#{ $that }_state_disabled) {
            #{ $this }__label,
            #{ $this }__description,
            #{ $this }__button {
                color: var(--guit-sem-color-foreground-neutral-2);
            }

            &:not(#{ $this }__item_state_current, #{ $this }__item_state_success, #{ $this }__item_state_error) {
                #{ $this }__icon {
                    color: var(--guit-sem-color-foreground-neutral-1);
                }
            }

            &#{ $that }_state_current,
            &#{ $that }_state_success {
                #{ $this }__icon {
                    color: var(--guit-sem-color-foreground-selected);
                }
            }

            &#{ $that }_state_error {
                #{ $this }__icon {
                    color: var(--guit-sem-color-foreground-error);
                }
            }
        }
    }

    &__indicator,
    &__content {
        max-width: 100%;
    }

    &__indicator {
        display: flex;
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin: 0.2rem;
        border-radius: var(--guit-ref-radius-full);
        border-width: var(--guit-ref-border-width-thin);
        border-style: var(--guit-ref-border-style-solid);
        font-family: var(--guit-sem-font-body-medium-default-semibold-font-family);
        font-weight: var(--guit-sem-font-body-medium-default-semibold-font-weight);
        font-size: var(--guit-sem-font-body-medium-default-semibold-font-size);
        line-height: var(--guit-sem-font-body-medium-default-semibold-line-height);
    }

    &__dot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin: 0.2rem;

        &_state {
            &_empty,
            &_current {
                border-width: var(--guit-ref-border-width-thin);
                border-radius: var(--guit-ref-radius-full);
                font-family: var(--guit-sem-font-body-medium-default-semibold-font-family);
                font-weight: var(--guit-sem-font-body-medium-default-semibold-font-weight);
                font-size: var(--guit-sem-font-body-medium-default-semibold-font-size);
                line-height: var(--guit-sem-font-body-medium-default-semibold-line-height);
            }

            &_empty {
                border-style: var(--guit-ref-border-style-dashed);
            }

            &_current {
                position: relative;
                border-style: var(--guit-ref-border-style-solid);
                border-color: var(--guit-sem-color-background-transparent-1);
                background: linear-gradient(
                    to right,
                    var(--guit-sem-color-foreground-selected) 50%,
                    var(--guit-sem-color-background-transparent-1) 50%
                );
                background-clip: padding-box;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    inset: calc(-1 * var(--guit-ref-border-width-thin));
                    border-radius: var(--guit-ref-radius-full);
                    border-width: var(--guit-ref-border-width-thin);
                    border-color: var(--guit-sem-color-foreground-selected);
                    pointer-events: none;
                }

                &::before {
                    border-style: var(--guit-ref-border-style-solid);
                    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
                }

                &::after {
                    border-style: var(--guit-ref-border-style-dashed);
                    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
                }
            }
        }
    }

    &__icon {
        flex: 0 0 auto;
    }

    &__divider {
        flex: 1;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &__label,
    &__description,
    &__button {
        padding-block: var(--guit-ref-spacing-4xsmall);
        padding-inline: var(--guit-ref-spacing-3xsmall);
        word-break: break-word;
        text-align: left;
    }

    &__label,
    &__button {
        font-family: var(--guit-sem-font-label-medium-default-semibold-font-family), sans-serif;
        font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
        font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
        line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
        border-radius: var(--guit-ref-radius-3xsmall);
    }
}
