.label {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    min-width: 0;

    &__container {
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-3xsmall);
        min-width: 0;

        &_readOnly {
            pointer-events: auto;
        }
    }

    &__container-inner {
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-4xsmall);
        max-width: 100%;
    }

    &__text,
    &__asterisk {
        color: var(--guit-sem-color-foreground-neutral-2);

        &_size {
            &_medium {
                font-family: var(--guit-sem-font-label-medium-default-semibold-font-family);
                font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
                font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
                line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
            }

            &_small {
                font-family: var(--guit-sem-font-label-small-default-medium-font-family);
                font-weight: var(--guit-sem-font-label-small-default-medium-font-weight);
                font-size: var(--guit-sem-font-label-small-default-medium-font-size);
                line-height: var(--guit-sem-font-label-small-default-medium-line-height);
            }
        }

        &_disabled {
            color: var(--guit-sem-color-foreground-disabled);
            pointer-events: none;
        }
    }
}
