.widget {
    border: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid) var(--guit-sem-color-border-neutral-2);
    border-radius: 0.6rem;

    &__header {
        padding: 1.2rem 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
    }

    &__body {
        padding: 1.6rem;
    }

    &__info {
        display: flex;
    }

    &__iconWrapper {
        border-radius: 0.8rem;
        background-color: var(--guit-sem-color-background-neutral-3);
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--guit-sem-color-foreground-neutral-1);
    }
}
