.tableHeaderCell {
    height: 4rem;
    padding-block: var(--guit-ref-spacing-xsmall);
    padding-inline: var(--guit-ref-spacing-large);
    vertical-align: middle;
    position: relative;
    box-shadow: inset 0 -0.1rem 0 0 var(--guit-sem-color-background-neutral-4);

    &::after {
        content: "";
        position: absolute;
        inset-inline-end: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        width: 0.1rem;
        background: linear-gradient(
            90deg,
            var(--guit-sem-color-border-neutral-2) 0%,
            var(--guit-sem-color-border-neutral-2) 20%
        );
    }

    &__content {
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-xsmall);
    }

    &_expander {
        padding: 0;
    }

    &__text {
        color: var(--guit-sem-color-foreground-neutral-2);
    }

    &_pinned {
        position: sticky;
        z-index: 1;
        background-color: inherit;
        inset-inline-start: 0;

        &::after {
            inset-inline-end: -0.3rem;
            width: 0.4rem;
            background: linear-gradient(
                90deg,
                var(--guit-sem-color-border-neutral-3) 0%,
                var(--guit-sem-color-border-neutral-3) 20%,
                rgb(211 211 212 / 50%) 21%,
                rgb(255 255 255 / 0%) 100%
            );
        }
    }
}
