.tableExpander {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-bottom: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid) transparent;

    &:hover {
        background-color: var(--guit-sem-color-background-neutral-3-hover);
    }

    &:active {
        background-color: var(--guit-sem-color-background-neutral-3-pressed);
    }

    &_color {
        &_zebra {
            background-color: var(--guit-sem-color-background-neutral-3);
        }

        &_red {
            background-color: var(--guit-sem-color-background-error-1);
        }

        &_green {
            background-color: var(--guit-sem-color-background-success-1);
        }

        &_highlighted {
            background-color: var(--guit-sem-color-background-brand-1);
        }
    }

    &_selected {
        background-color: var(--guit-sem-color-background-neutral-3-pressed);
    }

    &_pinned {
        border-bottom-color: var(--guit-sem-color-border-neutral-3);
    }
}
