.skeleton {
    position: relative;
    background-color: light-dark(var(--guit-ref-color-neutral-20), var(--guit-ref-color-neutral-300));

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: light-dark(var(--guit-ref-color-neutral-60), var(--guit-ref-color-neutral-600));
        animation-name: skeleton;
        animation-timing-function: var(--guit-ref-motion-easing-input-and-output);
        animation-iteration-count: infinite;
        animation-duration: calc(var(--guit-ref-motion-duration-slow-macro) * 2);
    }

    &_flexible {
        width: 100%;
    }

    &_backInverse {
        background-color: var(--guit-ref-color-transparent-neutral-0-20);

        &::after {
            background-color: var(--guit-ref-color-transparent-neutral-0-40);
        }
    }

    &_circle {
        border-radius: 50%;
    }

    &_rounded4X {
        border-radius: var(--guit-ref-radius-4xsmall);
    }

    &_rounded3X {
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &_rounded2X {
        border-radius: var(--guit-ref-radius-2xsmall);
    }
}

@keyframes skeleton {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
