.skeleton {
    background-color: var(--guit-sem-color-background-transparent-2);

    &_flexible {
        width: 100%;
    }

    &_backInverse {
        background-color: var(--guit-sem-color-background-transparent-inverse-2);
    }

    &_circle {
        border-radius: 50%;
    }

    &_rounded4X {
        border-radius: var(--guit-ref-radius-4xsmall);
    }

    &_rounded3X {
        border-radius: var(--guit-ref-radius-3xsmall);
    }

    &_rounded2X {
        border-radius: var(--guit-ref-radius-2xsmall);
    }
}
