.magnifier {
    &__glass {
        position: absolute;
        border: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
        cursor: none;
        width: 15rem;
        height: 15rem;
        z-index: 1;
    }

    &__image {
        object-fit: contain;
    }
}
