.section {
    $this: &;

    display: flex;
    flex-direction: column;
    height: 100%;
    border: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid) var(--guit-sem-color-border-neutral-2);
    border-radius: var(--guit-ref-radius-2xsmall);
    background-color: var(--guit-sem-color-background-neutral-1-nudge);

    &_withPadding {
        #{ $this }__content {
            padding: var(--guit-ref-spacing-large);
        }
    }

    &__header {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--guit-ref-spacing-medium);
        min-height: 6.2rem;
        padding: var(--guit-ref-spacing-medium) var(--guit-ref-spacing-large);
        border-bottom: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
        border-start-start-radius: var(--guit-ref-radius-2xsmall);
        border-start-end-radius: var(--guit-ref-radius-2xsmall);
        background-color: var(--guit-sem-color-background-neutral-1-nudge);
    }

    &__title {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        column-gap: var(--guit-ref-spacing-4xsmall);
    }

    &__body {
        flex: 1;
        min-width: 0;
        min-height: 0;
        height: 100%;
    }

    &__content {
        width: 100%;
        height: 100%;
    }

    &__footer {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--guit-ref-spacing-medium);
        border-top: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
        border-end-start-radius: var(--guit-ref-radius-2xsmall);
        border-end-end-radius: var(--guit-ref-radius-2xsmall);
        padding: var(--guit-ref-spacing-medium) var(--guit-ref-spacing-large);
        background-color: var(--guit-sem-color-background-neutral-1-nudge);
        height: 5.6rem;
    }
}
