@import 'src/assets/styles/variables';

.grid-item {
    text-align: center;
    font: rem(10) / rem(14) $f;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(100);
    border-radius: rem(20);
    color: c(hero);
    background: c(hero, 0.24);
    overflow: hidden;
    width: 100%;
}
