@use "../../../../../assets/styles/mixins";

.tableRow {
    position: relative;
    display: table-row;
    width: 100%;

    &:active {
        background-color: var(--guit-sem-color-background-neutral-3-pressed);
    }

    &:nth-child(even) {
        background-color: var(--guit-sem-color-background-neutral-3);
    }

    &:nth-child(odd) {
        background-color: var(--guit-sem-color-background-neutral-1);
    }

    @include mixins.media-hover {
        &:hover {
            background-color: var(--guit-sem-color-background-neutral-3-hover);

            .tableRow__actionsWrapper {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }

    &__actionsWrapper {
        position: sticky;
        inset-inline-end: 0;
        top: 0;
        z-index: 2;
        width: 1%;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        border-bottom: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-1);
    }

    &__actions {
        display: flex;
        align-items: center;
        column-gap: var(--guit-ref-spacing-3xsmall);
        position: absolute;
        inset-inline-end: 0;
        inset-block: 0;
        padding-block: var(--guit-ref-spacing-small);
        padding-inline: var(--guit-ref-spacing-large);
        background-color: var(--guit-sem-color-background-neutral-3-hover);

        &::after {
            content: "";
            pointer-events: none;
            position: absolute;
            top: 0;
            bottom: -0.1rem;
            width: 0.4rem;
        }

        [dir="ltr"] &::after {
            right: 100%;
            background: linear-gradient(
                to left,
                var(--guit-sem-color-floating-1-rgba-1),
                var(--guit-ref-color-transparent-neutral-800-0)
            );
        }

        [dir="rtl"] &::after {
            left: 100%;
            background: linear-gradient(
                to right,
                var(--guit-sem-color-floating-1-rgba-1),
                var(--guit-ref-color-transparent-neutral-800-0)
            );
        }
    }
}
