.tableBodyCell {
    vertical-align: middle;
    padding-block: var(--guit-ref-spacing-medium, 12px);
    padding-inline: var(--guit-ref-spacing-large, 16px);
    height: var(--guit-sem-dimension-height-large, 48px);
    text-align: left;
    display: table-cell;
    border-bottom: var(--guit-ref-border-width-thin) solid var(--guit-sem-color-border-neutral-1);

    &:not(&_pinned, :last-child) {
        border-inline-end: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
    }

    &_expanded {
        background-color: var(--guit-sem-color-background-neutral-2);
        padding: var(--guit-ref-spacing-large);
    }

    &_text {
        font-family: var(--guit-sem-font-label-medium-default-semibold-font-family);
        font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
        font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
        line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
        color: var(--guit-sem-color-foreground-neutral-2);
    }

    &_pinned {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: inherit;
        border-inline-end: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-3);
    }
}

.cellContent {
    display: flex;
    align-items: center;
    min-height: var(--guit-sem-dimension-height-large);

    &_text {
        position: relative;
        min-width: var(--guit-ref-sizing-xsmall);
        padding-block: var(--guit-ref-spacing-medium);
        padding-inline: var(--guit-ref-spacing-large);

        &_string {
            text-align: start;
        }

        &_numeric {
            justify-content: flex-end;
        }
    }

    &_checkbox {
        justify-content: center;
        padding-block: var(--guit-ref-spacing-xsmall);
        padding-inline: var(--guit-ref-spacing-small);
    }

    &_status {
        padding-block: var(--guit-ref-spacing-2xsmall);
        padding-inline: var(--guit-ref-spacing-large);
    }

    &_pill,
    &_icon {
        justify-content: center;
        padding-block: var(--guit-ref-spacing-small);
        padding-inline: var(--guit-ref-spacing-large);
    }
}
