.rate {
    $this: &;

    display: inline-flex;
    flex-direction: column;
    gap: var(--guit-ref-spacing-3xsmall);
    max-width: var(--rate-wrapper-width);

    &__content {
        display: flex;
        align-items: flex-start;
        gap: var(--guit-ref-radius-3xsmall);
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        padding: var(--guit-ref-spacing-4xsmall);
        border-radius: var(--guit-ref-radius-3xsmall);
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            inset-inline-end: calc(var(--guit-ref-radius-3xsmall) / -1);
            bottom: 0;
            width: var(--guit-ref-radius-3xsmall);
            background-color: transparent;
        }

        &_size {
            &_medium {
                width: 3.2rem;
                height: 3.2rem;

                #{ $this }__svg {
                    width: 2.4rem;
                    height: 2.4rem;
                }
                #{ $this }__num {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            &_small {
                width: 2.4rem;
                height: 2.4rem;

                #{ $this }__svg {
                    width: 2rem;
                    height: 2rem;
                }
                #{ $this }__num {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    &__svg {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    &__star,
    &__heart,
    &__emoji {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &_disabled {
            pointer-events: none;
            user-select: none;
        }
    }

    // Star START
    &__star {
        $the: &;

        &:hover {
            transform: scale(1.1);
        }

        &_color {
            &_default {
                color: var(--guit-sem-color-foreground-neutral-1);

                &#{ $the }_disabled {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }

            &_orange {
                color: var(--guit-sem-color-foreground-accent-orange-1);

                &#{ $the }_disabled {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }
        }

        &:disabled {
            pointer-events: none;
            user-select: none;
        }
    }

    // Star END

    // Heart START
    &__heart {
        $the: &;

        &:hover {
            transform: scale(1.1);
        }

        &_color {
            &_default {
                color: var(--guit-sem-color-foreground-neutral-1);
                &#{ $the }_disabled {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }

            &_orange {
                color: var(--guit-sem-color-foreground-accent-orange-1);
                &#{ $the }_disabled {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }
        }

        &:disabled {
            pointer-events: none;
            user-select: none;
        }
    }

    // Heart END

    // Num START
    &__num {
        $the: &;

        display: flex;
        align-items: center;
        justify-content: center;

        &_disabled {
            pointer-events: none;
            user-select: none;
        }

        &:hover {
            transform: scale(1.1);
        }

        font-family: var(--guit-sem-font-body-medium-default-semibold-font-family);
        font-size: var(--guit-sem-font-body-medium-default-semibold-font-size);
        font-weight: var(--guit-sem-font-body-medium-default-semibold-font-weight);
        line-height: var(--guit-sem-font-body-medium-default-semibold-line-height);
        box-shadow: inset 0 0 0 0.15rem var(--guit-sem-color-foreground-neutral-1);
        border-radius: 50%;
        overflow: hidden;

        & > span {
            border-radius: inherit;
        }

        &#{ $the }_color {
            &_default {
                box-shadow: inset 0 0 0 0.15rem var(--guit-sem-color-foreground-neutral-1);
                color: var(--guit-sem-color-foreground-neutral-1);

                &#{ $the }_disabled {
                    box-shadow: inset 0 0 0 0.15rem var(--guit-sem-color-foreground-disabled);
                    color: var(--guit-sem-color-foreground-disabled);
                }

                #{ $the }_filled {
                    background-color: var(--guit-sem-color-foreground-neutral-1);
                    color: #fff;

                    &#{ $the }_disabled {
                        background-color: var(--guit-sem-color-foreground-disabled);
                        color: var(--guit-sem-color-foreground-disabled);
                    }
                }
            }

            &_orange {
                box-shadow: inset 0 0 0 0.15rem var(--guit-sem-color-foreground-accent-orange-1);
                color: var(--guit-sem-color-foreground-accent-orange-1);

                &#{ $the }_disabled {
                    box-shadow: inset 0 0 0 0.15rem var(--guit-sem-color-foreground-disabled);
                    color: var(--guit-sem-color-foreground-disabled);
                }

                #{ $the }_filled {
                    background-color: var(--guit-sem-color-foreground-accent-orange-1);
                    color: #fff;

                    &#{ $the }_disabled {
                        background-color: var(--guit-sem-color-foreground-disabled);
                        color: var(--guit-sem-color-foreground-disabled);
                    }
                }
            }
        }
    }

    // Num END

    // Emoji START
    &__emoji {
        $the: &;

        &:hover {
            transform: scale(1.1);
        }

        &_color {
            &_default {
                color: var(--guit-sem-color-foreground-neutral-1);

                &#{ $the }_disabled {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }

            &_orange {
                color: var(--guit-sem-color-foreground-accent-orange-1);

                &#{ $the }_disabled {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }
        }
    }

    // Emoji END
}
