.rate {
    $this: &;

    display: inline-flex;
    flex-direction: column;
    gap: var(--guit-ref-spacing-3xsmall);

    &__content {
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-3xsmall);
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        padding: var(--guit-ref-spacing-4xsmall);
        border-radius: var(--guit-ref-radius-3xsmall);

        &_size {
            &_medium {
                width: 3.2rem;
                height: 3.2rem;

                #{ $this }__svg {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            &_small {
                width: 2.4rem;
                height: 2.4rem;

                #{ $this }__svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        &:focus-visible {
            outline-offset: var(--guit-ref-border-width-thin);
            outline: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
                var(--guit-sem-color-border-focus);
        }
    }

    &__svg {
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__star,
    &__heart,
    &__num,
    &__emoji {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &_disabled {
            pointer-events: none;
            user-select: none;
        }
    }

    // Star START
    &__star {
        $the: &;

        &_color {
            &_default {
                #{ $this }__starStroke {
                    fill: var(--guit-sem-color-foreground-neutral-1);
                }
            }

            &_orange {
                #{ $this }__starStroke {
                    fill: var(--guit-sem-color-foreground-accent-orange-1);
                }
            }
        }

        &_filled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__starLeft,
                        #{ $this }__starRight {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default {
                    #{ $this }__starLeft,
                    #{ $this }__starRight {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__starLeft,
                    #{ $this }__starRight {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }

        &_half {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__starLeft,
                        #{ $this }__starStroke {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default,
                &_orange {
                    #{ $this }__starRight {
                        fill: transparent;
                    }
                }

                &_default {
                    #{ $this }__starLeft {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__starLeft {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }

        &_unfilled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__starStroke {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default,
                &_orange {
                    #{ $this }__starLeft,
                    #{ $this }__starRight {
                        fill: transparent;
                    }
                }
            }
        }

        &_disabled {
            pointer-events: none;
            user-select: none;
        }
    }

    // Star END

    // Heart START
    &__heart {
        $the: &;

        &_filled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__heartPath1,
                        #{ $this }__heartPath2 {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default {
                    #{ $this }__heartPath1,
                    #{ $this }__heartPath2 {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__heartPath1,
                    #{ $this }__heartPath2 {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }

        &_unfilled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__heartPath2 {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default,
                &_orange {
                    #{ $this }__heartPath1 {
                        fill: transparent;
                    }
                }

                &_default {
                    #{ $this }__heartPath2 {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__heartPath2 {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }
    }

    // Heart END

    // Num START
    &__num {
        $the: &;

        &_filled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__numPath1 {
                            stroke: var(--guit-sem-color-foreground-disabled);
                        }

                        #{ $this }__numPath2 {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default,
                &_orange {
                    #{ $this }__numPath3 {
                        fill: #fff;
                    }
                }

                &_default {
                    #{ $this }__numPath1 {
                        stroke: var(--guit-sem-color-foreground-neutral-1);
                    }

                    #{ $this }__numPath2 {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__numPath1 {
                        stroke: var(--guit-sem-color-foreground-accent-orange-1);
                    }

                    #{ $this }__numPath2 {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }

        &_unfilled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__numPath1 {
                            stroke: var(--guit-sem-color-foreground-disabled);
                        }

                        #{ $this }__numPath3 {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default {
                    #{ $this }__numPath1 {
                        stroke: var(--guit-sem-color-foreground-neutral-1);
                    }

                    #{ $this }__numPath3 {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__numPath1 {
                        stroke: var(--guit-sem-color-foreground-accent-orange-1);
                    }

                    #{ $this }__numPath3 {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }
    }

    &__numPath1 {
        fill: none;
        stroke: var(--guit-sem-color-foreground-neutral-1);
        stroke-miterlimit: 10;
        stroke-width: 0.15rem;
    }

    &__numPath2 {
        fill: transparent;
    }

    // Num END

    // Emoji START
    &__emoji {
        $the: &;

        &_filled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__emojiPath2 {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default,
                &_orange {
                    #{ $this }__emojiPath1 {
                        fill: none;
                    }
                }

                &_default {
                    #{ $this }__emojiPath2 {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__emojiPath2 {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }

        &_unfilled {
            &#{ $the }_disabled {
                &#{ $the }_color {
                    &_default,
                    &_orange {
                        #{ $this }__emojiPath1 {
                            fill: var(--guit-sem-color-foreground-disabled);
                        }
                    }
                }
            }

            &#{ $the }_color {
                &_default,
                &_orange {
                    #{ $this }__emojiPath2 {
                        fill: none;
                    }
                }

                &_default {
                    #{ $this }__emojiPath1 {
                        fill: var(--guit-sem-color-foreground-neutral-1);
                    }
                }

                &_orange {
                    #{ $this }__emojiPath1 {
                        fill: var(--guit-sem-color-foreground-accent-orange-1);
                    }
                }
            }
        }
    }

    // Emoji END
}
