.button {
    $this: &;

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    cursor: pointer;
    user-select: none;
    border-width: var(--guit-ref-border-width-thin);
    border-style: var(--guit-ref-border-style-solid);

    &:not(#{ $this }_type_outline) {
        border-color: var(--guit-ref-color-transparent-neutral-0-0);
    }

    &_icon {
        &_before {
            flex-direction: row;
        }

        &_after {
            flex-direction: row-reverse;
        }
    }

    &_color {
        &_primary {
            &#{ $this }_type {
                &_fill {
                    background-color: var(--guit-sem-color-background-brand-2);
                    color: var(--guit-sem-color-foreground-inverse);

                    &:hover {
                        background-color: var(--guit-sem-color-background-brand-2-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-brand-2-pressed);
                    }

                    &:disabled {
                        background-color: var(--guit-sem-color-background-disabled);
                    }
                }

                &_outline {
                    border-color: var(--guit-sem-color-border-brand);
                    color: var(--guit-sem-color-foreground-brand);

                    &:hover {
                        background-color: var(--guit-sem-color-background-brand-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-brand-1-pressed);
                    }

                    &:disabled {
                        border-color: var(--guit-sem-color-border-disabled-1);
                    }
                }

                &_text {
                    color: var(--guit-sem-color-foreground-brand);

                    &:hover {
                        background-color: var(--guit-sem-color-background-brand-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-brand-1-pressed);
                    }
                }
            }
        }

        &_secondary {
            &#{ $this }_type {
                &_fill {
                    background-color: var(--guit-sem-color-background-neutral-2);
                    color: var(--guit-sem-color-foreground-neutral-2);

                    &:hover {
                        background-color: var(--guit-sem-color-background-neutral-2-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-neutral-2-pressed);
                    }

                    &:disabled {
                        background-color: var(--guit-sem-color-background-disabled);
                    }
                }

                &_outline {
                    background-color: var(--guit-sem-color-background-transparent-1);
                    border-color: var(--guit-sem-color-border-neutral-2);
                    color: var(--guit-sem-color-foreground-neutral-2);

                    &:hover {
                        background-color: var(--guit-sem-color-background-transparent-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-transparent-1-pressed);
                    }

                    &:disabled {
                        border-color: var(--guit-sem-color-border-disabled-1);
                    }
                }

                &_text {
                    background-color: var(--guit-sem-color-background-transparent-1);
                    color: var(--guit-sem-color-foreground-neutral-2);

                    &:hover {
                        background-color: var(--guit-sem-color-background-transparent-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-transparent-1-pressed);
                    }
                }
            }
        }

        &_danger {
            &#{ $this }_type {
                &_fill {
                    background-color: var(--guit-sem-color-background-error-2);
                    color: var(--guit-sem-color-foreground-inverse);

                    &:hover {
                        background-color: var(--guit-sem-color-background-error-2-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-error-2-pressed);
                    }

                    &:disabled {
                        background-color: var(--guit-sem-color-background-disabled);
                    }
                }

                &_outline {
                    border-color: var(--guit-sem-color-border-error);
                    color: var(--guit-sem-color-foreground-error);

                    &:hover {
                        background-color: var(--guit-sem-color-background-error-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-error-1-pressed);
                    }

                    &:disabled {
                        border-color: var(--guit-sem-color-border-disabled-1);
                    }
                }

                &_text {
                    background-color: var(--guit-sem-color-background-transparent-1);
                    color: var(--guit-sem-color-foreground-error);

                    &:hover {
                        background-color: var(--guit-sem-color-background-error-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-error-1-pressed);
                    }
                }
            }
        }

        &_success {
            &#{ $this }_type {
                &_fill {
                    background-color: var(--guit-sem-color-background-success-2);
                    color: var(--guit-sem-color-foreground-neutral-2-notheme);

                    &:hover {
                        background-color: var(--guit-sem-color-background-success-2-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-success-2-pressed);
                    }

                    &:disabled {
                        background-color: var(--guit-sem-color-background-disabled);
                    }
                }

                &_outline {
                    border-color: var(--guit-sem-color-border-success);
                    color: var(--guit-sem-color-foreground-success);

                    &:hover {
                        background-color: var(--guit-sem-color-background-success-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-success-1-pressed);
                    }

                    &:disabled {
                        border-color: var(--guit-sem-color-border-disabled-1);
                    }
                }

                &_text {
                    background-color: var(--guit-sem-color-background-transparent-1);
                    color: var(--guit-sem-color-foreground-success);

                    &:hover {
                        background-color: var(--guit-sem-color-background-success-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-success-1-pressed);
                    }
                }
            }
        }

        &_inverse {
            &#{ $this }_type {
                &_fill {
                    background-color: var(--guit-sem-color-background-inverse);
                    color: var(--guit-sem-color-foreground-neutral-2);

                    &:hover {
                        background-color: var(--guit-sem-color-background-inverse-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-inverse-pressed);
                    }

                    &:disabled {
                        background-color: var(--guit-sem-color-background-disabled);
                    }
                }

                &_outline {
                    background-color: var(--guit-sem-color-background-transparent-1);
                    border-color: var(--guit-sem-color-border-inverse);
                    color: var(--guit-sem-color-foreground-inverse);

                    &:hover {
                        background-color: var(--guit-sem-color-background-transparent-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-transparent-1-pressed);
                    }

                    &:disabled {
                        border-color: var(--guit-sem-color-border-inverse-disabled);
                        color: var(--guit-sem-color-foreground-inverse-disabled);
                    }
                }

                &_text {
                    background-color: var(--guit-sem-color-background-transparent-1);
                    color: var(--guit-sem-color-foreground-inverse);

                    &:hover {
                        background-color: var(--guit-sem-color-background-transparent-1-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-transparent-1-pressed);
                    }

                    &:disabled {
                        color: var(--guit-sem-color-foreground-inverse-disabled);
                    }
                }
            }
        }

        &_transparent {
            &#{ $this }_type {
                &_fill {
                    background-color: var(--guit-sem-color-background-transparent-inverse-2);
                    color: var(--guit-sem-color-foreground-inverse);

                    &:hover {
                        background-color: var(--guit-sem-color-background-transparent-inverse-2-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-transparent-inverse-2-pressed);
                    }

                    &:disabled {
                        background-color: var(--guit-sem-color-background-disabled);
                    }
                }

                &_outline {
                    border-color: var(--guit-sem-color-border-inverse);
                    color: var(--guit-sem-color-foreground-inverse);

                    &:hover {
                        background-color: var(--guit-sem-color-background-transparent-inverse-2-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-transparent-inverse-2-pressed);
                    }

                    &:disabled {
                        border-color: var(--guit-sem-color-border-inverse-disabled);
                        color: var(--guit-sem-color-foreground-disabled);
                    }
                }

                &_text {
                    background-color: var(--guit-sem-color-background-transparent-inverse-1);
                    color: var(--guit-sem-color-foreground-inverse);

                    &:hover {
                        background-color: var(--guit-sem-color-background-transparent-inverse-2-hover);
                    }

                    &:active {
                        background-color: var(--guit-sem-color-background-transparent-inverse-2-pressed);
                    }

                    &:disabled {
                        color: var(--guit-sem-color-foreground-disabled);
                    }
                }
            }
        }
    }

    &_size {
        &_large {
            gap: var(--guit-ref-spacing-xsmall);
            height: var(--guit-sem-dimension-height-large);
            border-radius: var(--guit-ref-radius-2xsmall);

            &:not(#{ $this }_icon_only) {
                padding-top: var(--guit-ref-spacing-small);
                padding-bottom: var(--guit-ref-spacing-small);
            }

            &:not(#{ $this }_icon_before, &#{ $this }_icon_after, #{ $this }_icon_only) {
                min-width: var(--guit-sem-dimension-width-2xlarge);
                padding-inline-start: var(--guit-ref-spacing-large);
                padding-inline-end: var(--guit-ref-spacing-large);
            }

            &#{ $this }_icon_before,
            &#{ $this }_icon_after {
                min-width: var(--guit-sem-dimension-width-5xlarge);
            }

            &#{ $this }_icon_before {
                padding-inline-start: var(--guit-ref-spacing-medium);
                padding-inline-end: var(--guit-ref-spacing-large);
            }

            &#{ $this }_icon_after {
                padding-inline-start: var(--guit-ref-spacing-large);
                padding-inline-end: var(--guit-ref-spacing-medium);
            }

            &#{ $this }_icon_only {
                min-width: var(--guit-sem-dimension-width-large);
                padding: var(--guit-ref-spacing-small);
            }
        }

        &_medium {
            gap: var(--guit-ref-spacing-xsmall);
            height: var(--guit-sem-dimension-height-medium);
            border-radius: var(--guit-ref-radius-3xsmall);

            &:not(#{ $this }_icon_only) {
                padding-top: var(--guit-ref-spacing-2xsmall);
                padding-bottom: var(--guit-ref-spacing-2xsmall);
            }

            &:not(#{ $this }_icon_before, &#{ $this }_icon_after, #{ $this }_icon_only) {
                min-width: var(--guit-sem-dimension-width-2xlarge);
                padding-inline-start: var(--guit-ref-spacing-medium);
                padding-inline-end: var(--guit-ref-spacing-medium);
            }

            &#{ $this }_icon_before,
            &#{ $this }_icon_after {
                min-width: var(--guit-sem-dimension-width-3xlarge);
            }

            &#{ $this }_icon_before {
                padding-inline-start: var(--guit-ref-spacing-xsmall);
                padding-inline-end: var(--guit-ref-spacing-medium);
            }

            &#{ $this }_icon_after {
                padding-inline-start: var(--guit-ref-spacing-medium);
                padding-inline-end: var(--guit-ref-spacing-xsmall);
            }

            &#{ $this }_icon_only {
                min-width: var(--guit-sem-dimension-width-medium);
                padding: var(--guit-ref-spacing-2xsmall);
            }
        }

        &_small {
            gap: var(--guit-ref-spacing-2xsmall);
            height: var(--guit-sem-dimension-height-small);
            border-radius: var(--guit-ref-radius-3xsmall);

            &:not(#{ $this }_icon_only) {
                padding-top: var(--guit-ref-spacing-4xsmall);
                padding-bottom: var(--guit-ref-spacing-4xsmall);
            }

            &:not(#{ $this }_icon_before, &#{ $this }_icon_after, #{ $this }_icon_only) {
                min-width: var(--guit-sem-dimension-width-2xlarge);
                padding-inline-start: var(--guit-ref-spacing-medium);
                padding-inline-end: var(--guit-ref-spacing-medium);
            }

            &#{ $this }_icon_before,
            &#{ $this }_icon_after {
                min-width: var(--guit-sem-dimension-width-3xlarge);
            }

            &#{ $this }_icon_before {
                padding-inline-start: var(--guit-ref-spacing-xsmall);
                padding-inline-end: var(--guit-ref-spacing-medium);
            }

            &#{ $this }_icon_after {
                padding-inline-start: var(--guit-ref-spacing-medium);
                padding-inline-end: var(--guit-ref-spacing-xsmall);
            }

            &#{ $this }_icon_only {
                min-width: var(--guit-sem-dimension-width-small);
                padding: var(--guit-ref-spacing-4xsmall);
            }
        }

        &_XSmall {
            height: var(--guit-sem-dimension-height-small-nudge);
            border-radius: var(--guit-ref-radius-4xsmall);

            &#{ $this }_icon_only {
                min-width: var(--guit-sem-dimension-width-small-nudge);
                padding: var(--guit-ref-spacing-4xsmall);
            }
        }
    }

    &_fullWidth {
        width: 100%;
    }

    &_loading {
        #{ $this }__loader {
            visibility: visible;
        }

        #{ $this }__text,
        #{ $this }__icon {
            visibility: hidden;
        }
    }

    &:disabled,
    &.disabled {
        pointer-events: none;
        color: var(--guit-sem-color-foreground-disabled);
    }

    &__text {
        font-family: var(--guit-sem-font-label-medium-default-semibold-font-family);
        font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
        font-weight: var(--guit-sem-font-label-medium-default-semibold-font-weight);
        line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
        white-space: nowrap;
    }

    &__icon {
        flex: 0 0 auto;
    }

    &__loader {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        visibility: hidden;
    }
}
