.transferList {
    display: grid;
    gap: var(--guit-ref-spacing-medium);
    width: 100%;
    border: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid) var(--guit-sem-color-border-neutral-2);
    border-radius: var(--guit-ref-radius-xsmall);
    height: 39.8rem;
    max-height: 100%;
    overflow: hidden;

    &_panels2 {
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    }

    &_panels3 {
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr) auto minmax(0, 1fr);
    }

    &_panels4 {
        grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr) auto minmax(0, 1fr) auto minmax(0, 1fr);
    }

    &__panel {
        display: flex;
        flex-direction: column;
        min-width: 0;
        min-height: 0;
        padding: var(--guit-ref-spacing-large);
    }

    &__panel .actionableList {
        flex: 1;
        min-height: 0;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--guit-ref-spacing-2xsmall);
        padding: var(--guit-ref-spacing-large);
        border-right: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
        border-left: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
    }
}
