.uploader {
    display: flex;
    flex-direction: column;

    &__dropZone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--guit-sem-color-background-neutral-3);
        border: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-dashed)
            var(--guit-sem-color-border-neutral-2);
        border-radius: var(--guit-ref-radius-2xsmall);
    }

    &__buttonWrapper {
        display: flex;
        flex-direction: column;
    }

    &__input {
        display: none;
    }
}
