#docs-root {
    .iconsSearch {
        display: none;
    }
}

.iconsSearch {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(var(--background-rgb), 1);
    width: 100%;
    padding: 10px 15px;
}

.iconsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.iconButton {
    width: calc(25% - 10px);
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: var(--button-external-border-radius, 0.4rem);
    background: rgba(var(--background-rgb), 0.8);
    border-left: 3px solid transparent;

    &:hover {
        border-left: 3px solid #e90789;
    }

    &_name {
        max-width: 100%;
    }

    &_svg {
        margin-right: 5px;
    }
}

.noData_empty {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.icons_loader {
    margin-top: 80px;
}

.icon_loader {
    align-items: flex-start;
}
