@use "../../../assets/styles/mixins";

.itemList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    padding-block: var(--guit-ref-spacing-3xsmall);

    &__scrollWrapper {
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }

    &__state {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex: 1;
    }

    &__content {
        width: 100%;
        padding: var(--guit-ref-spacing-3xsmall);
    }

    &__virtualContainer {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__virtualRow {
        position: absolute;
        top: 0;
        inset-inline: 0;
    }

    &__skeletonRow {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.2rem;
        padding-inline: var(--guit-ref-spacing-medium);
    }

    &__skeletonItem {
        width: 100%;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 auto;
        width: 100%;
        height: 3.2rem;
        padding-block: var(--guit-ref-spacing-3xsmall);
        padding-inline: var(--guit-ref-spacing-medium);
        border-top: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
        overflow: hidden;
    }
}

.itemListItem {
    display: flex;
    align-items: center;
    gap: var(--guit-ref-spacing-xsmall);
    width: 100%;
    height: var(--guit-sem-dimension-height-medium);
    padding-block: var(--guit-ref-spacing-2xsmall);
    padding-inline: var(--guit-ref-spacing-medium);
    user-select: none;
    border-radius: var(--guit-ref-radius-3xsmall);
    background-color: var(--guit-sem-color-background-neutral-1-nudge);
    color: var(--guit-sem-color-foreground-neutral-2);

    &_selected {
        color: var(--guit-sem-color-foreground-selected);
    }

    &_disabled {
        pointer-events: none;
        color: var(--guit-sem-color-foreground-disabled);
    }

    @include mixins.media-hover {
        &:hover {
            background-color: var(--guit-sem-color-background-neutral-1-nudge-hover);
        }
    }

    &:active {
        background-color: var(--guit-sem-color-background-neutral-1-nudge-pressed);
    }
}
