.dataCard {
    $this: &;

    border-radius: var(--guit-ref-radius-2xsmall);
    border: 1px solid var(--guit-sem-color-border-neutral-2);
    padding: var(--guit-ref-spacing-large);

    &__listWrapper {
        display: flex;
        flex-direction: column;
        row-gap: var(--guit-ref-spacing-large);
        padding-bottom: var(--guit-ref-spacing-large);
    }

    &__keyValue {
        height: 2.4rem;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: var(--guit-ref-spacing-xsmall);
    }
}
