.sb-show-main.sb-main-padded {
    padding: 0;
}

.sbdocs-wrapper {
    padding-inline-start: 40px !important;

    .sbdocs-content {
        max-width: none !important;
    }

    & [role="tablist"] .tabbutton-active {
        color: #c41d7f;
        border-bottom-color: #c41d7f;

        & &:focus {
            border-bottom-color: #c41d7f !important;
        }

        &:active {
            border-bottom-color: #c41d7f !important;
        }
    }

    .docblock-argstable {
        display: grid;

        .docblock-argstable-head {
            > tr {
                width: 100%;
                grid-template-columns: 1fr 3fr 1fr;
                display: grid;

                > th:last-child {
                    display: none !important;
                }
            }
        }

        .docblock-argstable-body {
            > tr {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;

                &:not([title*="items"]) {
                    grid-template-columns: 1fr 3fr 1fr;
                }

                > td {
                    width: 100% !important;

                    &:last-child:has(button) {
                        display: none !important;
                    }

                    &:nth-child(4) {
                        display: none !important;
                    }
                }
            }
        }
    }
}

#docs-root {
    div[data-stage-alert] {
        display: none;
    }
}

#storybook-root {
    height: 100%;
}

//loading storybook dark mode
.dark .sb-preparing-docs,
.dark .sb-preparing-story,
.dark .sb-nopreview {
    background: #1a1c1d;
}

.dark .sb-previewBlock {
    background: #222525;
}

.dark .sb-previewBlock .sb-previewBlock_icon {
    background: rgba(235, 17, 138, 34%);
}

.dark .sb-argstableBlock tbody tr td,
.dark .sb-argstableBlock thead tr th {
    background: #222525;
}

.dark .sb-argstableBlock tbody tr {
    border-color: rgba(235, 17, 138, 34%);
}

.dark .sb-argstableBlock tr td span,
.dark .sb-argstableBlock tr th span,
.dark .sb-argstableBlock tr td button {
    background: rgba(235, 17, 138, 34%);
}

.dark .sb-loader {
    background: #222525;
    border-color: #eb118a;
    border-top-color: #222525;
    mix-blend-mode: lighten;
}
