@use "../../../assets/styles/mixins";

.autoComplete {
    $this: &;

    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    width: 28rem;
    padding-block: var(--guit-ref-spacing-3xsmall);

    &_size {
        &_large {
            --dimension-height: 19.2rem;

            height: var(--dimension-height);
        }

        &_medium {
            --dimension-height: 17.2rem;

            height: var(--dimension-height);
        }

        &_small {
            --dimension-height: 15.2rem;

            height: var(--dimension-height);
        }
    }

    &:has(#{ $this }__footer) {
        height: calc(var(--dimension-height) + 3.2rem);
    }

    &__state {
        width: 28rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &_size {
            &_large {
                height: 19.2rem;
            }

            &_medium {
                height: 17.2rem;
            }

            &_small {
                height: 15.2rem;
            }
        }
    }

    &__content {
        width: 100%;
        padding: var(--guit-ref-spacing-3xsmall);
    }

    &__virtualContainer {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__virtualRow {
        position: absolute;
        top: 0;
        inset-inline: 0;
    }

    &__skeletonRow {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.2rem;
        padding-inline: var(--guit-ref-spacing-medium);
    }

    &__skeletonItem {
        width: 100%;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 auto;
        width: 100%;
        height: 3.2rem;
        padding-block: var(--guit-ref-spacing-3xsmall);
        padding-inline: var(--guit-ref-spacing-medium);
        border-top: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
        overflow: hidden;
    }
}

.autoCompleteItem {
    display: flex;
    align-items: center;
    width: 100%;
    user-select: none;
    border-radius: var(--guit-ref-radius-3xsmall);
    background-color: var(--guit-sem-color-background-neutral-1-nudge);
    color: var(--guit-sem-color-foreground-neutral-2);

    &_size {
        &_large {
            gap: var(--guit-ref-spacing-xsmall);
            height: var(--guit-sem-dimension-height-medium);
            padding-block: var(--guit-ref-spacing-2xsmall);
            padding-inline: var(--guit-ref-spacing-medium);
        }

        &_medium {
            gap: var(--guit-ref-spacing-xsmall);
            height: var(--guit-sem-dimension-height-medium-nudge);
            padding-block: var(--guit-ref-spacing-3xsmall);
            padding-inline: var(--guit-ref-spacing-xsmall);
        }

        &_small {
            gap: var(--guit-ref-spacing-2xsmall);
            height: var(--guit-sem-dimension-height-small);
            padding-block: var(--guit-ref-spacing-4xsmall);
            padding-inline: var(--guit-ref-spacing-xsmall);
        }
    }

    &_selected {
        color: var(--guit-sem-color-foreground-selected);
    }

    &_disabled {
        pointer-events: none;
        color: var(--guit-sem-color-foreground-disabled);
    }

    @include mixins.media-hover {
        &:hover {
            background-color: var(--guit-sem-color-background-neutral-1-nudge-hover);
        }
    }

    &:active {
        background-color: var(--guit-sem-color-background-neutral-1-nudge-pressed);
    }
}
