.autoComplete {
    $this: &;

    color: var(--guit-ref-color-magenta-500base);
    font-size: var(--guit-sem-font-caption-large-medium-font-size);

    &__body {
        width: 28rem;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        min-height: 0;
        overflow: hidden;
        width: 28rem;

        &_size {
            &_large {
                height: 18.4rem;
            }

            &_medium {
                height: 16.4rem;
            }

            &_small {
                height: 14.4rem;
            }
        }
    }

    &__state {
        width: 28rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &_size {
            &_large {
                height: 18.4rem;
            }

            &_medium {
                height: 16.4rem;
            }

            &_small {
                height: 14.4rem;
            }
        }
    }

    &__scrollbar {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--guit-ref-spacing-3xsmall);
        width: 100%;
        background-color: var(--guit-sem-color-background-neutral-1-nudge);
        padding-top: var(--guit-ref-spacing-3xsmall);
        padding-bottom: var(--guit-ref-spacing-3xsmall);
        padding-inline-start: var(--guit-ref-spacing-4xsmall);
    }

    &__content {
        font-family: var(--guit-sem-font-body-medium-default-medium-font-family);
        font-size: var(--guit-sem-font-body-medium-default-medium-font-size);
        font-weight: var(--guit-sem-font-body-medium-default-medium-font-weight);
        line-height: var(--guit-sem-font-body-medium-default-medium-line-height);
        padding-top: var(--guit-ref-spacing-3xsmall);
        padding-bottom: var(--guit-ref-spacing-3xsmall);
        padding-inline-end: var(--guit-ref-spacing-2xsmall);
        padding-inline-start: var(--guit-ref-spacing-3xsmall);
    }

    &__footer {
        flex: none;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        border-top: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
            var(--guit-sem-color-border-neutral-2);
        padding-block: var(--guit-ref-spacing-3xsmall);
        padding-inline: var(--guit-ref-spacing-medium);
        overflow: hidden;

        &_button {
            width: auto;
            height: 3.2rem;
            gap: 0;
            border-radius: 0;
            padding-block: var(--guit-ref-spacing-3xsmall);
            padding-inline: var(--guit-ref-spacing-medium);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.2rem;
        color: var(--guit-sem-color-foreground-neutral-2);
        user-select: none;
        padding-inline-start: var(--guit-ref-spacing-medium);
        padding-inline-end: var(--guit-ref-spacing-medium);
        border-radius: var(--guit-ref-radius-3xsmall);

        &:not(:last-of-type) {
            margin-bottom: var(--guit-ref-spacing-3xsmall);
        }

        &:hover {
            background-color: var(--guit-sem-color-background-neutral-1-nudge-hover);
        }

        &:active {
            background-color: var(--guit-sem-color-background-neutral-1-nudge-pressed);
        }

        &:focus-visible {
            z-index: 1;
        }

        &_disabled {
            pointer-events: none;
            user-select: none;
            color: var(--guit-sem-color-foreground-disabled);
        }

        &_label {
            flex: 1;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: start;
        }
    }
}
