.tableHeader {
    &_sticky {
        position: sticky;
        top: 0;
        z-index: 3;
    }

    &__row {
        position: relative;
        background-color: var(--guit-sem-color-background-neutral-4);
    }
}
