.dataTable {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__table {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
        isolation: isolate;
    }
}
