.dataTable {
    background-color: var(--guit-sem-color-background-neutral-1);

    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--guit-ref-spacing-2xlarge);
        padding: var(--guit-ref-spacing-large);
        background-color: var(--guit-sem-color-background-neutral-1);

        &_search {
            flex: 1;
            display: flex;
            align-items: center;
            column-gap: var(--guit-ref-spacing-2xlarge);
        }

        &_actions {
            flex: none;
            display: flex;
            align-items: center;
            column-gap: var(--guit-ref-spacing-xsmall);
        }

        &_dropdownMenu {
            position: relative;
            z-index: 1;
        }
    }

    &__bulkActions {
        display: flex;
        align-items: center;
        column-gap: var(--guit-ref-spacing-xsmall);
        height: 3.2rem;

        &_selected {
            font-family: var(--guit-sem-font-label-medium-default-semibold-font-family);
            font-size: var(--guit-sem-font-label-medium-default-semibold-font-size);
            font-weight: var(--guit-sem-font-label-medium-default-semibold-font-weight);
            line-height: var(--guit-sem-font-label-medium-default-semibold-line-height);
            color: var(--guit-sem-color-foreground-neutral-1);
            white-space: nowrap;
        }
    }
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + var(--guit-ref-spacing-3xsmall));
    inset-inline-end: 0;
    width: 36rem;
    height: 46.4rem;
    background-color: var(--guit-sem-color-background-neutral-1);
    border-radius: var(--guit-ref-radius-2xsmall);
    border: var(--guit-ref-border-width-thin) solid var(--guit-sem-color-border-neutral-2);
    box-shadow:
        var(--guit-sem-shadow-floating-2-position-x-1) var(--guit-sem-shadow-floating-2-position-y-1)
            var(--guit-sem-shadow-floating-2-blur-1) var(--guit-sem-shadow-floating-2-spread-1)
            var(--guit-sem-color-floating-2-rgba-1),
        var(--guit-sem-shadow-floating-2-position-x-2) var(--guit-sem-shadow-floating-2-position-y-2)
            var(--guit-sem-shadow-floating-2-blur-2) var(--guit-sem-shadow-floating-2-spread-2)
            var(--guit-sem-color-floating-2-rgba-2);
    padding-block: var(--guit-ref-spacing-3xsmall);

    &__header {
        flex: none;
        background-color: var(--guit-sem-color-background-neutral-1);
        border-bottom: var(--guit-ref-border-width-thin) solid var(--guit-sem-color-border-neutral-2);
        padding-top: var(--guit-ref-spacing-xsmall);
        padding-bottom: var(--guit-ref-spacing-medium);
        padding-inline: var(--guit-ref-spacing-medium);
    }

    &__main {
        flex: 1;
        padding: var(--guit-ref-spacing-3xsmall);
    }

    &__footer {
        flex: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--guit-sem-color-background-neutral-1);
        border-top: var(--guit-ref-border-width-thin) solid var(--guit-sem-color-border-neutral-2);
        padding-top: var(--guit-ref-spacing-medium);
        padding-bottom: var(--guit-ref-spacing-xsmall);
        padding-inline: var(--guit-ref-spacing-medium);

        // todo: remove next styles if need, after importing "Button Group" component
        &_buutonGroup {
            flex: none;
            display: flex;
            align-items: center;
            column-gap: var(--guit-ref-spacing-xsmall);
        }
    }

    &__columns {
        $this: &;

        display: flex;
        flex-direction: column;
        row-gap: var(--guit-ref-spacing-3xsmall);

        &_header {
            padding-block: var(--guit-ref-spacing-3xsmall);
            padding-inline: var(--guit-ref-spacing-xsmall);
        }

        &_title {
            font-family: var(--guit-sem-font-label-small-default-semibold-font-family);
            font-size: var(--guit-sem-font-label-small-default-semibold-font-size);
            font-weight: var(--guit-sem-font-label-small-default-semibold-font-weight);
            line-height: var(--guit-sem-font-label-small-default-semibold-line-height);
            color: var(--guit-sem-color-foreground-neutral-1);
        }

        &_item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: var(--guit-ref-spacing-xsmall);
            border-radius: var(--guit-ref-radius-3xsmall);
            padding-block: var(--guit-ref-spacing-3xsmall);
            padding-inline: var(--guit-ref-spacing-xsmall);
            background-color: var(--guit-sem-color-background-neutral-1);

            &:not(&#{ $this }_item_drag):hover {
                background-color: var(--guit-sem-color-background-neutral-1-hover);
            }

            &:not(&#{ $this }_item_drag):active {
                background-color: var(--guit-sem-color-background-neutral-1-pressed);
            }

            &_disabled {
                background-color: var(--guit-sem-color-background-neutral-1);
                pointer-events: none;

                #{ $this }_text,
                #{ $this }_icon {
                    color: var(--guit-sem-color-foreground-disabled);
                }
            }

            &_drag {
                box-shadow:
                    var(--guit-sem-shadow-floating-3-position-x-1) var(--guit-sem-shadow-floating-3-position-y-1)
                        var(--guit-sem-shadow-floating-3-blur-1) var(--guit-sem-shadow-floating-3-spread-1)
                        var(--guit-sem-color-floating-3-rgba-1),
                    var(--guit-sem-shadow-floating-3-position-x-2) var(--guit-sem-shadow-floating-3-position-y-2)
                        var(--guit-sem-shadow-floating-3-blur-2) var(--guit-sem-shadow-floating-3-spread-2)
                        var(--guit-sem-color-floating-3-rgba-2);
            }
        }

        &_placeholder {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: var(--guit-ref-spacing-xsmall);
        }

        &_text {
            font-family: var(--guit-sem-font-label-medium-default-medium-font-family);
            font-size: var(--guit-sem-font-label-medium-default-medium-font-size);
            font-weight: var(--guit-sem-font-label-medium-default-medium-font-weight);
            line-height: var(--guit-sem-font-label-medium-default-medium-line-height);
            user-select: none;

            &:not(&#{ $this }_item_disabled) {
                color: var(--guit-sem-color-foreground-neutral-2);
            }
        }

        &_actions {
            flex: none;
            display: flex;
            align-items: center;
            column-gap: var(--guit-ref-spacing-4xsmall);
        }

        &_icon {
            cursor: pointer;
            &:not(&#{ $this }_item_disabled) {
                color: var(--guit-sem-color-foreground-neutral-2);
            }
        }
    }
}
