.gene-ui-provider {
    font-family: var(--guit-sem-font-body-medium-default-regular-font-family);
    font-size: var(--guit-sem-font-body-medium-default-regular-font-size);
    font-weight: var(--guit-sem-font-body-medium-default-regular-font-weight);
    line-height: var(--guit-sem-font-body-medium-default-regular-line-height);
}
