.manageColumnListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__actions {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
