.dropdownItem {
    $this: &;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: var(--guit-ref-radius-3xsmall);
    background-color: transparent;
    color: var(--guit-sem-color-foreground-neutral-2);
    text-align: start;
    padding: var(--guit-ref-spacing-2xsmall) var(--guit-ref-spacing-medium);
    gap: var(--guit-ref-spacing-xsmall);

    &__main {
        min-width: 0;
        display: inline-flex;
        align-items: center;
        gap: var(--guit-ref-spacing-3xsmall);
        flex: 1;
    }

    &__meta {
        display: inline-flex;
        align-items: center;
        gap: var(--guit-ref-spacing-3xsmall);
        min-width: 0;
    }

    &__label,
    &__textAfter {
        min-width: 0;
    }

    &__textAfter {
        color: var(--guit-sem-color-foreground-neutral-3);
    }

    &__icon,
    &__checkmark {
        flex: 0 0 auto;
    }

    &__checkmark {
        color: var(--guit-sem-color-foreground-selected);
    }

    &__checkbox {
        flex: 0 0 auto;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--guit-sem-color-background-neutral-1-nudge-hover);
    }

    &:active {
        background-color: var(--guit-sem-color-background-neutral-1-nudge-pressed);
    }

    &:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 var(--guit-ref-border-width-thin) var(--guit-sem-color-border-brand);
    }

    &_selected {
        color: var(--guit-sem-color-foreground-selected);
    }

    &_disabled {
        pointer-events: none;
        cursor: default;
        color: var(--guit-sem-color-foreground-disabled);
    }

    &_size {
        &_large {
            min-height: 4rem;
        }

        &_medium {
            min-height: 3.6rem;
        }

        &_small {
            min-height: 3.2rem;
        }
    }
}
