@import 'src/assets/styles/variables';

.slider-holder {
    --left: 0;
    --sliderWidth: #{rem(300)};

    display: flex;
    align-items: center;
    width: 100%;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    > * {
        flex-shrink: 0;

        &.slider-comp {
            flex: auto;
        }

        + * {
            @include rtl(margin, 0 0 0 rem(22), 0 rem(22) 0 0);
        }
    }

    &.negative-value,
    &.gradient-value [class*='rc-slider-handle'][style*='min-coloring'] {
        @include over(hero, danger);
    }

    &.positive-value,
    &.gradient-value [class*='rc-slider-handle'][style*='max-coloring'] {
        @include over(hero, confirm);
    }
}

.rc-slider {
    position: relative;
    flex: auto;
    touch-action: none;
    height: rem(3);
}

.rc-slider-rail {
    position: absolute;
    height: rem(3);
    border-radius: rem(2);
    width: 100%;
    background: sc(b, 0.1);
    top: 0;
    left: 0;
}

.rc-slider-track {
    position: absolute;
    left: 0;
    height: rem(3);
    @include rtl(border-radius, rem(2) 0 0 rem(2), 0 rem(2) rem(2) 0);

    background: c(hero);
    overflow: hidden;

    .gradient-value & {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: var(--sliderWidth);
            height: 100%;
            background-image: linear-gradient(to right, #{c(danger)}, #{c(warning)} 50%, #{c(confirm)});
            transform: translateX(var(--left));
            border-radius: rem(2);
        }
    }
}

.rc-slider-handle {
    width: rem(11);
    height: rem(11);
    position: absolute;
    background: c(hero);
    border-radius: 100%;
    top: -rem(4);
    transition: 300ms color, 300ms background, 300ms box-shadow;
    box-shadow: 0 0 0 c(hero, 0.2);
    cursor: grab;
    touch-action: pan-x;
    touch-action: pan-x;
    font-size: 0;

    &[style*='middle-coloring'] {
        @include over(hero, warning);
    }

    .size-small & {
        width: rem(9);
        height: rem(9);
        top: -rem(3);
    }

    &:not(:focus, :active):hover {
        width: rem(13);
        height: rem(13);
        top: -rem(5);

        .size-small & {
            width: rem(11);
            height: rem(11);
            top: -rem(4);
        }
    }

    &:focus,
    &:active {
        cursor: grabbing;
    }

    .slider-holder:not(.show-on-drag) &,
    &:focus,
    &:active {
        --s1s: #{rem(5)};

        box-shadow: 0 0 0 var(--s1s) c(hero, 0.2);

        &[style*='middle-size'] {
            --s1s: #{rem(8)};
        }

        &[style*='max-size'] {
            --s1s: #{rem(10)};
        }

        .size-small & {
            --s1s: #{rem(6)};

            &[style*='middle-size'] {
                --s1s: #{rem(8)};
            }

            &[style*='max-size'] {
                --s1s: #{rem(10)};
            }
        }

        &[style*='c-type-2'],
        &[style*='c-type-3'] {
            --s1s: #{rem(5)};
            --s2s: #{rem(6)};

            &[style*='middle-size'] {
                --s1s: #{rem(8)};
                --s2s: #{rem(9)};
            }

            &[style*='max-size'] {
                --s1s: #{rem(10)};
                --s2s: #{rem(11)};
            }
        }

        &[style*='c-type-2'] {
            box-shadow: 0 0 0 var(--s1s) c(b, 0.8), 0 0 0 var(--s2s) c(hero, 0.2);
        }

        &[style*='c-type-3'] {
            box-shadow: 0 0 0 var(--s1s) c(b), 0 rem(1) rem(2) var(--s2s) rgba(0, 0, 0, 10%);
        }
    }
}

.rc-slider-mark {
    position: absolute;
    top: rem(18);
    left: 0;
    width: 100%;
    font-size: rem(12);
}

.rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: sc(b, 0.4);

    &-active {
        color: sc(b, 0.6);
    }
}

.rc-slider-step {
    position: absolute;
    width: 100%;
    height: rem(4);
    background: transparent;
    cursor: pointer;
}

.rc-slider-dot {
    position: absolute;
    bottom: -rem(2);
    margin-left: -rem(4);
    width: rem(8);
    height: rem(8);
    border: rem(2) solid sc(b, 0.1);
    background: c(b);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;

    &-active {
        border-color: c(hero, 0.2);
    }
}

.rc-slider-vertical {
    width: rem(14);
    height: 100%;
    padding: 0 rem(5);

    .rc-slider-rail {
        height: 100%;
        width: rem(4);
    }

    .rc-slider-track {
        left: rem(5);
        bottom: 0;
        width: rem(4);
    }

    .rc-slider-handle {
        margin-left: -rem(5);
        margin-bottom: -rem(7);
        touch-action: pan-y;
        touch-action: pan-y;
    }

    .rc-slider-mark {
        top: 0;
        left: rem(18);
        height: 100%;
    }

    .rc-slider-step {
        height: 100%;
        width: rem(4);
    }

    .rc-slider-dot {
        left: rem(2);
        margin-bottom: -rem(4);

        &:first-child {
            margin-bottom: -rem(4);
        }

        &:last-child {
            margin-bottom: -rem(4);
        }
    }
}

.rc-slider-tooltip-zoom-down- {
    &enter,
    &appear,
    &leave {
        display: block !important;
    }
}

.tooltip-el {
    position: absolute;
    pointer-events: none;
    padding: rem(8) 0;

    &-hidden {
        display: none;
    }

    .tooltip-el-content {
        border-radius: rem(4);
        background: sc(b, 0.6);
        color: c(b);
        padding: rem(6) rem(10);
        font: 600 rem(12) / rem(16) $f;
        position: relative;
    }

    &-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    &.tooltip-el-placement- {
        &top,
        &bottom {
            .tooltip-el-arrow {
                margin: 0 0 0 -rem(5);
                left: 50%;
            }
        }

        &bottom {
            .tooltip-el-arrow {
                bottom: 100%;
                border-width: 0 rem(5) rem(5) rem(5);
                border-bottom-color: sc(b, 0.6);
            }
        }

        &top {
            .tooltip-el-arrow {
                top: 100%;
                border-width: rem(5) rem(5) 0;
                border-top-color: sc(b, 0.6);
            }
        }

        &left,
        &right {
            padding: 0 rem(8);

            .tooltip-el-arrow {
                top: 50%;
                margin: -rem(5) 0 0;
            }
        }

        &left {
            .tooltip-el-arrow {
                left: 100%;
                border-width: rem(5) 0 rem(5) rem(5);
                border-left-color: sc(b, 0.6);
            }
        }

        &right {
            .tooltip-el-arrow {
                right: 100%;
                border-width: rem(5) rem(5) rem(5) 0;
                border-right-color: sc(b, 0.6);
            }
        }
    }
}

.slider-actions {
    display: flex;
    align-items: center;

    > * + * {
        @include rtl(margin, 0 0 0 rem(12), 0 rem(12) 0 0);
    }

    .icon {
        border: solid rem(1) sc(b, 0.1);
        border-radius: 100%;
        color: sc(b, 0.7);
        cursor: pointer;
        transition: 300ms color;

        &:hover {
            color: c(hero);
        }

        &.disabled {
            opacity: 0.5;
        }
    }
}

.slider-holder {
    height: rem(20);

    > .icon {
        cursor: pointer;
        padding: rem(1);
        border-radius: 100%;
        color: sc(b, 0.4);
        background: sc(b, 0.05);
        transition: 300ms color, 300ms background;

        &.half {
            background: c(hero, 0.05);
            color: c(hero, 0.5);
        }

        &.active {
            background: c(hero, 0.1);
            color: c(hero);
        }

        &.negative-value {
            @include over(hero, danger);
        }

        &.positive-value {
            @include over(hero, confirm);
        }
    }
}
