@mixin information-message {
    .information-message {
        width: 100%;
        margin: rem(6) 0 0;
        padding: 0 var(--input-message-padding-side);
        font: 600 rem(12) / 1.42 $f;
        cursor: default;

        &:empty {
            display: none;
        }
    }
}
@mixin input-description {
    .input-description {
        max-width: 100%;
        margin: rem(10) 0 0;
        font: 600 rem(14) / rem(20) $f;
        cursor: default;
        opacity: 0.7;

        .input-structure ~ & {
            padding: 0 rem(10);
        }
    }
}
@mixin dropdown-item-label {
    transition: 400ms color, 400ms background;
    height: rem(40);
    padding: 0 rem(14);

    &:not(.hover-disabled) {
        @include hover {
            background: sc(b, 0.05);
        }
    }

    &.hovered {
        @media (hover: hover) {
            background: sc(b, 0.05);
        }
    }
}
@mixin dropdown-item-label-mobile {
    height: rem(48);
    padding: 0 rem(20);
}
@mixin static-title-holder {
    .static-title-holder {
        display: inline-flex;
        vertical-align: top;
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;

        .st-t {
            opacity: 0.5;
            font: 600 rem(14) / rem(18) $f;
            margin: 0 0 rem(4);
            padding: 0 var(--static-title-padding, 0);
        }

        .st-c {
            max-width: 100%;

            &:nth-child(2) {
                min-height: rem(32);
                display: flex;
                align-items: center;
            }
        }

        &.f-full-width {
            width: 100%;

            .st-c {
                width: 100%;
            }
        }
    }
}
