// TODO: implement fonts passing via provider
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap";

html {
    font-size: 10px;
}

.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scroll-lock {
    overflow: hidden;
}

*:focus-visible {
    outline-offset: var(--guit-ref-border-width-thin);
    outline: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid) var(--guit-sem-color-border-focus);
}
