@import 'rtl';
@import 'sharedStyles';
@import 'mixinsAndFunctions';

$c: (
    hero: #1473e6,
    confirm: #2bc784,
    warning: #e6af57,
    danger: #e64e48,
    note: #fdc625,
    message: #8bd779,
    background: #fff,
    foreground: #3d3d5f
);

@each $name, $color in $c {
    $c: map-merge($c, (#{$name + '-hover'}: darken($color, 5)));
    $c: map-merge($c, (#{$name + '-sc'}: set-color($color)));
    $c: map-merge($c, (#{$name + '-rgb'}: #{red($color), green($color), blue($color)}));
    $c: map-merge(
        $c,
        (#{$name + '-sc-rgb'}: #{red(set-color($color)), green(set-color($color)), blue(set-color($color))})
    );
}

$f: var(--font-family);
$zIndex: (
    'loader': 100,
    'header': 200,
    'holder': 200,
    'navigation': 200,
    'modal': 300,
    'overlay': 300,
    'overspread': 300,
    'popover': 400,
    'tooltip': 500,
    'toaster': 500,
    'preview': 500,
    'tableSticky': 10,
    'tableStickyOver': 11,
    'tableStickyOverPlus': 12
);
$tableTransition: 300ms;
$scrollbar: (
    'size': var(--scrollbar-size, 16px),
    'thumbSize': var(--scrollbar-thumbSize, 8px),
    'gutter': var(--scrollbar-gutter, 10px),
    'space': var(--scrollbar-space, 4px),
    'thumbBackground': sc(b, 0.05),
    'thumbActiveBackground': sc(b, 0.1)
);
$popoverClassName: '.popover-positioner';
