.manageColumnListItem {
    --item-mb: var(--guit-ref-spacing-3xsmall);
    --item-height: var(--guit-sem-dimension-height-medium);
    --drop-gap: calc(var(--item-height) + var(--item-mb));

    position: relative;
    display: flex;
    align-items: center;
    gap: var(--guit-ref-spacing-xsmall);
    padding-block: var(--guit-ref-spacing-3xsmall);
    padding-inline: var(--guit-ref-spacing-xsmall);
    height: var(--guit-sem-dimension-height-medium);
    border-radius: var(--guit-ref-radius-3xsmall);
    background-color: var(--guit-sem-color-background-neutral-1-nudge);
    margin-bottom: var(--item-mb);

    &_dragging {
        visibility: hidden;
    }

    .manageColumnsPopover__list--hasDropGap &_dragging {
        height: 0;
        min-height: 0;
        padding: 0;
        margin: 0;
        border: none;
        overflow: hidden;
    }

    &__drop-gap {
        &-top {
            margin-top: var(--drop-gap);
        }

        &-bottom {
            margin-bottom: calc(var(--drop-gap) + var(--item-mb));
        }
    }

    &_dragPreview {
        display: flex;
        box-shadow: var(--guit-ref-elevation-small);
        background: var(--guit-sem-color-background-neutral-1);
        border-radius: var(--guit-ref-radius-3xsmall);
        box-sizing: border-box;
        margin: 0;
        z-index: 1000;
    }

    &__content {
        flex: 1;
        display: flex;
        align-items: center;
        gap: var(--guit-ref-spacing-xsmall);
        min-width: 0;
    }

    &__checkbox {
        flex: 0 0 auto;
        padding: var(--guit-ref-spacing-3xsmall);
    }

    &__actions {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        margin-inline-start: auto;
        gap: var(--guit-ref-spacing-4xsmall);
    }

    &__pinAction {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:focus-visible {
            outline-offset: var(--guit-ref-border-width-thin);
            outline: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
                var(--guit-sem-color-border-focus);
        }
    }

    &__dragHandle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        cursor: grab;
        color: var(--guit-sem-color-foreground-neutral-2);

        &:active {
            cursor: grabbing;
        }

        &:focus-visible {
            outline-offset: var(--guit-ref-border-width-thin);
            outline: var(--guit-ref-border-width-thin) var(--guit-ref-border-style-solid)
                var(--guit-sem-color-border-focus);
        }
    }

    &__dragIcon {
        flex-shrink: 0;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}
