.dataCard {
    $this: &;

    display: flex;
    flex-direction: column;
    row-gap: var(--guit-ref-spacing-large);
    border-radius: var(--guit-ref-radius-2xsmall);
    border: 1px solid var(--guit-sem-color-border-neutral-2);
    padding: var(--guit-ref-spacing-large);

    // dataCard alignment styles for dataCardList
    margin-inline: var(--guit-ref-spacing-medium);
    margin-bottom: var(--guit-ref-spacing-large);
    margin-top: var(--guit-ref-spacing-3xsmall);

    &__buttons {
        display: flex;
        justify-content: flex-end;
        gap: var(--guit-ref-spacing-xsmall);
    }
}
