.tagGroup {
    $this: &;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: var(--guit-ref-spacing-xsmall);
    min-height: 0;
    max-height: 100%;

    &__container {
        $that: &;

        min-height: 0;

        &_expanded {
            overflow-x: hidden;
            overflow-y: auto;
        }

        &:not(#{ $that }_expanded) {
            overflow: hidden;
        }
    }

    &__tags {
        $that: &;

        display: flex;
        flex-wrap: wrap;
        gap: var(--guit-ref-spacing-xsmall);
        padding: 0.2rem;

        &_expanded {
            height: 100%;
        }

        &:not(#{ $that }_expanded) {
            &:has(.tag_size_medium) {
                height: calc(var(--guit-sem-dimension-height-medium) + 0.4rem);
            }

            &:has(.tag_size_small) {
                height: calc(var(--guit-sem-dimension-height-small) + 0.4rem);
            }
        }
    }

    &__showButton {
        justify-self: end;
    }
}
