.tagGroup {
    $this: &;

    height: 100%;

    &__container {
        $that: &;

        display: grid;
        grid-template-rows: 1fr auto;
        grid-gap: var(--guit-ref-spacing-xsmall);
        min-height: 0;
        max-height: 100%;
        padding: 0.2rem;

        &:not(#{ $that }_expanded) {
            overflow: hidden;
        }
    }

    &__tags {
        $that: &;

        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        gap: var(--guit-ref-spacing-xsmall);
        padding: 0.2rem;
    }

    &__showButton {
        justify-self: end;
    }
}
